[submodule ".registry"]
	path = .registry
	url = https://github.com/nhs-pt/universe
	shallow = true
	branch = HEAD
[submodule "hospitals"]
	path = hospitals
	url = https://github.com/nhs-pt/hospitals
	shallow = true
	registered = true
